body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

/* colours constants */
/* https://coolors.co/595959-7f7f7f-a5a5a5-cccccc-f2f2f2 */
:root {
  --primary__color_dark: #595959;
  --primary__color: #7f7f7f;
  --primary__color_light: #a5a5a5;

  --primary__color_lightes: #cccccc;

  --background__colour: #f2f2f2;
}

/* shared classes */

.container-flex {
  display: flex;
}

.monochrome {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s;
}

.monochrome:hover {
  -webkit-filter: none;
  filter: none
}
