# Sanity Configuration
# Get your token from https://sanity.io/manage
# If not set, will fallback to the token in studio/sanity.json
SANITY_TOKEN=your-sanity-token-here

# Last.fm Configuration
# Get your API key from https://www.last.fm/api/account/create
LAST_FM_BASE_URL=http://ws.audioscrobbler.com/2.0/
LAST_FM_API_KEY=your-lastfm-api-key-here
LAST_FM_USER=your-lastfm-username
